h1{
    text-align: center;
    color: rgb(30, 255, 0);
}
h2{
    text-align: center;
    color: rgb(0, 81, 255);
   
}

h3{
    text-align: center;
    color: rgb(255, 230, 0);
}


#one{
  color: rgb(43, 255, 0);
}


#two{
    color: rgb(255, 0, 0);
  }
  .tftable{
      width: 400px;
      height: 200px; 
      float: right;
  }
  .tftable1{
    width: 400px;
    height: 200px;
     float: inline-end;   
}
 body{
text_align:center;
}
  