body{
    text-align: center;
    font-family: fantasy;
    font-size: large;
    color:#010508; 
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 


img{
   width: 600px;
   height: 500px;

}

a{
    position: absolute;
    text-align: center;
    top: 6%;
    font-size: 230%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }


