.flag {
    width: 400px;
    height: 350px;
    overflow: hidden;
    border: 1px solid #efefef;
    position: absolute;;
    text-align: center;
    top: 30%;
    margin-left: 500px;
  }
  
  .switzerland {
    background: linear-gradient(to bottom, transparent calc(100% / 3), white calc(100% / 3), white calc(100% / 3 * 2), transparent 0), linear-gradient(to right, transparent calc(100% / 3), white calc(100% / 3), white calc(100% / 3 * 2), transparent 0), #FF0000;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: 50px 20px; }


body{
text-align: center;
}

div{
    position: absolute;
    text-align: center;
}

a{
  position: absolute;
  text-align: center;
  top: 6%;
  font-size: 230%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
 
}